body{
    margin-top: 20px;
    background-color: rgb(204, 204, 198);
}

h1{
    display: flex;
    justify-content: center;
    margin-bottom: 3%;
}

.list-group{
    margin: 1%;
    width: 500px;
}

.pagination{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.form{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
}

.form .btn-secondary{
    height: 58px;
}

.research{
    width: 350px;
}

a.btn-close{
    position: absolute;
    top: 1px;
    right: 1px;
    z-index: 9999999;
}

.buttonAdmin{
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
}

.container{
    max-width: 1140px;
}

table{
    max-width: 80%;
    margin: auto;
}

.trBackOffice{
    cursor: pointer;
}